/* VARS=========================================================================================== */
$green: #8fba0a;
$mainText: #303030;
$secondText: #262525;
$menuText: #ffffff;
$menuTextActive: white;
$weight-thin: 100;
$weight-light: 300;
$weight-mid: 500;
$weight-bold: 900;
$fontFamily-thin: 'Conv_MuseoSansCyr';
$fontFamily-light: 'Conv_MuseoSansCyrl_0';
$fontFamily-mid: 'Conv_MuseoSansCyrl_1';
$fontFamily-bold: 'Conv_MuseoSansCyrl_3';
$bg: rgba(238, 237, 218, 0.1) ;
